.backgroundImg {
  background-image: url("https://plus.unsplash.com/premium_photo-1682716387450-3c718483edb3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8c29mYSUyMGxhbXBzfGVufDB8fDB8fHww");
  background-size: contain;
}

main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h2,
h1 {
  margin-left: 20px;
}

article {
  width: 50%;
  background-color: #f4f4f456;
  margin-left: 40px;
  padding: 0 5px;
}

button {
  background-color: black;
  color: white;
  /* width: 140px; */
  margin: 0 auto;
  margin-top: 100px;
  font-size: 1.4rem;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
}

a {
  text-decoration: none;
}
