.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* gap: 5px; */
  margin-bottom: 60px;
  background-color: white;
  width: 100%;
}

.icon-container {
  text-align: center;
  /* width: 110px; */
}

.icon-container p {
  margin: 0;
  color: #999999;
}
/* .icon-container:hover {
  background-color: #303030;
} */

.icons {
  width: 40px;
  height: 40px;
  background-color: #f4f4f4;
  padding: 5px;
  border-radius: 10px;
  color: #999999;
}
