a {
  text-decoration: none;
  width: 45%;
}

.product-Card {
  overflow: hidden;
  border: 1px solid green;
  aspect-ratio: 2/3.5;
}
.product-Card img {
  object-fit: cover;
  border-radius: 15px;
  width: 100%;
  height: 70%;
}
.product-Card p {
  font-size: 1.1em;
  color: rgb(70, 70, 70);
}
.product-Card p:nth-last-of-type(1) {
  color: rgb(70, 70, 70);
  font-weight: bold;
  margin: 2% 0;
}
